

milldev.localhost {
  reverse_proxy server:5000
}


frontdev.localhost {
  reverse_proxy frontend:3000
}





linode.milldev.click {
  reverse_proxy server:5000 {
header_down Strict-Transport-Security max-age=31536000;
}


promptinvoice.milldev.click {
   reverse_proxy frontend:3000 {
header_down Strict-Transport-Security max-age=31536000;
}
